// Colours
$color-primary: #f7ecec;
$color-secondary: #f4cfcf;
$color-accent: #d46767;
$color-accent-active: #852d2d; 

$color-text: #000000;

// Fonts
$inter-medium: "Inter Medium", Helvetica, Arial, sans-serif;

// Border Radius
$br-primary: 10px;

// Box Shadow
$bs-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);
