@import "../../styles/scss/global.scss";

.book {
  &__item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  &__details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $color-primary;
    min-height: 108px;
    width: 409px;
    box-sizing: border-box;
    border-radius: $br-primary;
    box-shadow: $bs-primary;
    position: relative;
    overflow: hidden;
  }
  
  &__id {
    margin-left: 28px;
    width: 52px;
    text-align: left;
  }

  &__name {
    width: 259px;
    height: 100%;
    margin: 20px 0;
    text-align: left;
  }

  &__author {
    position: absolute;
    bottom: 13px;
    right: 31px;
  }

  &-toggle {
    width: 75px;
    height: 75px;
    margin-right: 5px;
    @include flexCenter;
  }
}
